@font-face
  font-family 'Pribambas-Regular'
  src url('../fonts/Pribambas-Regular.eot')
  src url('../fonts/Pribambas-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Pribambas-Regular.ttf') format('truetype'),
      url('../fonts/Pribambas-Regular.svg#Pribambas-Regular') format('svg');

pribambas()
  font-family 'Pribambas-Regular'
comfortaa()
  font-family 'Comfortaa', cursive
noto()
  font-family 'Noto Sans', sans-serif
  font-weight 700

