// Custom
$radius = 2px

$wrapper = 1200px

$black = #202020
$pink = #F80CC7
$green = #B2F500

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
